In [2]:
import numpy as np
import pandas as pd

# Load your dataset (Modify file path if needed)
df = pd.read_csv("Sample - Superstore.csv",encoding='latin-1')

# ----- ADD MISSING VALUES -----

# Randomly select 2% of rows for missing values
np.random.seed(42)  # for reproducibility

rows = df.sample(frac=0.02).index  # 2% rows

# Add missing values in numeric columns
df.loc[rows, 'Sales'] = np.nan
df.loc[rows, 'Profit'] = np.nan
df.loc[rows, 'Discount'] = np.nan

# Add missing values in categorical columns
df.loc[rows, 'City'] = np.nan
df.loc[rows, 'Category'] = np.nan

In [3]:
# ----- ADD OUTLIERS -----

# Add *high* outliers in Sales
outlier_rows = df.sample(20).index
df.loc[outlier_rows, 'Sales'] = df['Sales'].mean() * 25  # 25x higher

# Add *negative* outliers in Profit (huge loss)
loss_rows = df.sample(20).index
df.loc[loss_rows, 'Profit'] = df['Profit'].mean() * -20

# Add quantity outliers
qty_rows = df.sample(15).index
df.loc[qty_rows, 'Quantity'] = df['Quantity'].max() * 10  # 10x higher

In [4]:
print(df.isnull().sum())
df.describe()

Row ID             0
Order ID           0
Order Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Customer Name      0
Segment            0
Country            0
City             200
State              0
Postal Code        0
Region             0
Product ID         0
Category         200
Sub-Category       0
Product Name       0
Sales            200
Quantity           0
Discount         200
Profit           200
dtype: int64

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9794.000000,9994.000000,9794.000000,9794.000000
mean,4997.500000,55190.379428,240.877859,3.993896,0.156138,27.491361
std,2885.163629,32063.693350,671.203719,5.722761,0.206599,236.925588
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.392500,2.000000,0.000000,1.716550
50%,4997.500000,56430.500000,54.900000,3.000000,0.200000,8.627100
75%,7495.750000,90008.000000,211.168000,5.000000,0.200000,29.420900
max,9994.000000,99301.000000,22638.480000,140.000000,0.800000,8399.976000

In [5]:
df.to_csv('Superstore.csv')